.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */
@media all and (max-width: 1032px) {
    .header-fixed {
		padding: 20px 0;
		height: 100px;
	}

}

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 85px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

body {
	margin: 0;
	padding: 0;
}
.a_logo{
    font-weight: 600;
    color:  rgb(204, 179, 16) !important ;
}
.a_taxi{
    color: rgb(204, 179, 16) !important;
}
.banner{
    min-height: 450px;
    background-image: url(./img/e52623cb8578d625.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    /* opacity: 1; */
    
  
}
.a_form{
        padding: 25px;
        margin: auto;   
        width: 500px;
        height: 300px;
        opacity: 0.9;
        background-image: url(./img/light-defocused-background-ligbackgroundbeautifulblueht-transparent-colors-181086418.jpg);
    
}
.a_text{
    
        color: #fff;
        font-weight: 500;
        text-align: center;
        
    
}
.input1{ 
    margin-top: 23px;
    border-radius: 3px; 
     background-color: #fff;
    height:45px;
    border:1px solid #292c2f;
    padding-top: 5px;
}
.a_tbdr{
    border:1px solid #292c2f;

}
.a_icon{
    color: rgb(204, 179, 16);
}
.a_span{
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 15px;

    font-size: 15px;
}
.a_inputlocation{
    border: none;
    box-shadow: none;

}
.a_button{
    height: 30px;
    padding-top:50px;
}
/* slider css */
.a_section2{
    height: 300px;

}
.a_h3{
    text-align: center;
}
.a_slider{
    height: 200px;
}
.a_box1{
    height: 200px;
    width: 200px;
    
}
.a_card{
    text-align: center;
}
.a_overflow{
    overflow: hidden;
}
.card{
    background-color:rgb(216, 210, 203);
}
.a_color{
    color: blue;
}
.a_color{
    color: blue;
}
.a_section3{
    height: 250px;
    background-image: url(./img/snow-black-background-christmas-background-white-snow-black-background-edit-photo-164628055.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.a_text5{
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}
.a_paragrap{
    font-weight: bold;
    padding-left: 40px;
    font-size: 22px;
    color: #fff;
}
.a_imgslider{
    height: 180px;
    width: 400px;
}
.a_home{
    background-color: rgb(204, 179, 16);
    border-radius: 10px;
}
.a_section5{
    height: 250px;   
}
.price1{
	margin-right: 50px !important;
}
.sectionmasseg{
	min-height: 400px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.box5{
	background-color: antiquewhite;
	height: 310px;
}
.milton{
	font-weight: bold;
	text-align: center;
}
.massegeicon{
	margin: auto;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #fff;
}
.massegeicon i{
	line-height: 60px;
	font-size: 30px;
	color: rgb(204, 179, 16);
}
.sectiondropdown{
	height: 500px;
}

.accordion {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 20px;
}
	details:first-child {
	  border: 1px solid grey;
	  border-radius: 5px;
	}
	details {
	  border: 1px solid grey;
	  border-radius: 5px;
	  padding: 10px 0;
	}
	  summary {
		padding: 7px 0 4px 0;
		cursor: pointer;
		font-weight: bold;
	  }
	  summary span {
		  margin-left: 8px;
		  font-weight: bold;

		}
	  
	  summary::marker {
		margin-right: 20px !important;
		left: -20px;
	  }
	  .answer {
		padding: 20px 0 0 0;
	  }
		p:last-child {
		  padding-bottom: 6px;
		}
	.a_carimgundr{
		background-image: url(./img/download\ \(4\).jpeg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.a_ancer a{
		
		color: rgb(204, 179, 16) !important;

	}
	.a_teximge{
		height: 400px;
		background-image: url(./img/download.jpeg);
		background-size: contain;
	}
  /* Defines the width of the carousel and centers it on the page */
.slick-carousel {
	margin: 0 auto;
	width: 900px;
  }
  
  /* The width of each slide */
  .slick-slide {
	width: auto;
  }
  
  /* Color of the arrows */
  .slick-next::before,
  .slick-prev::before {
	
  }
  
  img {
	width: 100%;
	height: 100%;
  }
  .carousel .carousel-control-prev-icon {
	/* change fill="currentColor" to %23fff to make it white  */
	background-image: url('data:image/svg+xml,<svg class="bi bi-camera" width="1em" height="1em" viewBox="0 0 20 20" fill="%23fff " xmlns="http://www.w3.org/2000/svg"><path d="M11 7c-1.657 0-4 1.343-4 3a4 4 0 014-4v1z"/><path fill-rule="evenodd" d="M16.333 5h-2.015A5.97 5.97 0 0011 4a5.972 5.972 0 00-3.318 1H3.667C2.747 5 2 5.746 2 6.667v6.666C2 14.253 2.746 15 3.667 15h4.015c.95.632 2.091 1 3.318 1a5.973 5.973 0 003.318-1h2.015c.92 0 1.667-.746 1.667-1.667V6.667C18 5.747 17.254 5 16.333 5zM3.5 7a.5.5 0 100-1 .5.5 0 000 1zm7.5 8a5 5 0 100-10 5 5 0 000 10z" clip-rule="evenodd"/><path d="M4 5a1 1 0 011-1h1a1 1 0 010 2H5a1 1 0 01-1-1z"/></svg>');
  }
  
  .carousel .carousel-control-next-icon {
	/* change fill="currentColor" to %23fff to make it white  */
	background-image: url('data:image/svg+xml,<svg class="bi bi-bootstrap-fill" viewBox="0 0 20 20" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.002 2a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V6a4 4 0 00-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.543-2.11H7.063V14zm1.313-4.875V6.658h1.78c.974 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H8.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H8.375v2.725z" clip-rule="evenodd"/></svg>');
  }

  .a_slidebox1{
	width: 200px;
	height: 200px;
	border: 1px solid black;
  }
  .a_slidebox1{
	background-color: #fff;
	width: 400px;
	height: 200px;
	margin-top: 50px;
	opacity: 0.8;
	padding: 15px;
  }
  footer{
	height: 400px;
	padding-top: 50px;


  }
  .a_footer{
	height: 350px;
	background-color: #292c2f;
  }
  .a_about{
	font-weight: bold;
	font-size: 25px;
	color: #fff;
	padding-top: 15px;

  }
  .a_p{
	color: #fff;
  }
  .a_hr{
	width: 150px;
	height: 10px !important;
	border-radius: 5px;
	color: rgb(249, 216, 2) ;
	
  }
  .twiterlogo{
	color: aqua;
	font-size: 30px !important;
  }
  .googelogo{
	color: rgb(255, 0, 17);
	font-size: 30px !important;

  }
  .facebook{
	color: rgb(25, 156, 193);
	font-size: 30px !important;

  }
  .a_youtube{
	color: rgb(225, 0, 17);
	font-size: 30px !important;

  }
  .footersection2 a{
	color: #fff;
	font-size: 20px;
  }
  .footerunderline a{
	text-decoration: none;
  }
  
  
  
  








@media all and (max-width: 600px){
	.a_form{
		margin: auto;
		padding-right: 44px;
		width: 400px;
		min-height: 350px;
		

	}
	.a_span{
		font-size: 0px;
	}

}